{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if officesync.get_logo_url %}<link rel="icon" href="{{ officesync.get_logo_url }}" type="image/png">{% endif %}
        <link rel="stylesheet" href="{% static 'css/global/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/pages/main_home.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/profile.css' %}">
        <title>{{ officesync.app }} - {% translate "Profil" %}</title>
    </head>
    <body>
        {% include 'components/header/authentication.html' with title=officesync.app %}
        <main>
            {% include 'components/sidebar/sidebar.html' with page="personal" %}
            {% include 'components/subsidebar/subsidebar_personal.html' with page="notes" %}
            <div class="content">
                <div class="blockify">
                    {% include 'components/profile/profile.html' %}
                    <div class="flexify">
                        <div class="blockify">
                            <div class="flexify">
                                <div class="cardify">
                                    <div class="title-container">
                                        <h1 class="h1">{% translate "Meine Notizen" %}</h1>
                                        <div class="edit-container">
                                            {% if has_update_vehicle_permission %}
                                                <a class="button create" href="">
                                                    <img src="{% static 'svgs/create.svg' %}" alt="create" />
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flexify">
                                <div class="grid-notes">
                                    {% for note in notes %}
                                        {% if note.color == "red" %}
                                            <div class="note">
                                                <div class="note-header">
                                                    <div class="red">
                                                        <div class="title">
                                                            <p>{{ note.title }}</p>
                                                        </div>
                                                        <div class="edit">
                                                            <img src="{% static 'svgs/modify.svg' %}" alt="application-cog" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="note-content">
                                                    <div class="red">
                                                        <p>{{ note.content }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if note.color == "orange" %}
                                            <div class="note">
                                                <div class="note-header">
                                                    <div class="orange">
                                                        <div class="title">
                                                            <p>{{ note.title }}</p>
                                                        </div>
                                                        <div class="edit">
                                                            <img src="{% static 'svgs/modify.svg' %}" alt="application-cog" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="note-content">
                                                    <div class="orange">
                                                        <p>{{ note.content }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if note.color == "yellow" %}
                                            <div class="note">
                                                <div class="note-header">
                                                    <div class="yellow">
                                                        <div class="title">
                                                            <p>{{ note.title }}</p>
                                                        </div>
                                                        <div class="edit">
                                                            <img src="{% static 'svgs/modify.svg' %}" alt="application-cog" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="note-content">
                                                    <div class="yellow">
                                                        <p>{{ note.content }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if note.color == "green" %}
                                            <div class="note">
                                                <div class="note-header">
                                                    <div class="green">
                                                        <div class="title">
                                                            <p>{{ note.title }}</p>
                                                        </div>
                                                        <div class="edit">
                                                            <img src="{% static 'svgs/modify.svg' %}" alt="application-cog" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="note-content">
                                                    <div class="green">
                                                        <p>{{ note.content }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if note.color == "cyan" %}
                                            <div class="note">
                                                <div class="note-header">
                                                    <div class="cyan">
                                                        <div class="title">
                                                            <p>{{ note.title }}</p>
                                                        </div>
                                                        <div class="edit">
                                                            <img src="{% static 'svgs/modify.svg' %}" alt="application-cog" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="note-content">
                                                    <div class="cyan">
                                                        <p>{{ note.content }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if note.color == "blue" %}
                                            <div class="note">
                                                <div class="note-header">
                                                    <div class="blue">
                                                        <div class="title">
                                                            <p>{{ note.title }}</p>
                                                        </div>
                                                        <div class="edit">
                                                            <img src="{% static 'svgs/modify.svg' %}" alt="application-cog" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="note-content">
                                                    <div class="blue">
                                                        <p>{{ note.content }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if note.color == "purple" %}
                                            <div class="note">
                                                <div class="note-header">
                                                    <div class="purple">
                                                        <div class="title">
                                                            <p>{{ note.title }}</p>
                                                        </div>
                                                        <div class="edit">
                                                            <img src="{% static 'svgs/modify.svg' %}" alt="application-cog" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="note-content">
                                                    <div class="purple">
                                                        <p>{{ note.content }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if note.color == "gray" %}
                                            <div class="note">
                                                <div class="note-header">
                                                    <div class="gray">
                                                        <div class="title">
                                                            <p>{{ note.title }}</p>
                                                        </div>
                                                        <div class="edit">
                                                            <img src="{% static 'svgs/modify.svg' %}" alt="application-cog" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="note-content">
                                                    <div class="gray">
                                                        <p>{{ note.content }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
