{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if officesync.get_logo_url %}<link rel="icon" href="{{ officesync.get_logo_url }}" type="image/png">{% endif %}
        <link rel="stylesheet" href="{% static 'css/global/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/pages/main_home.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/profile.css' %}">
        <title>{{ officesync.app }} - {% translate "Ankündigungen" %}</title>
    </head>
    <body>
        {% include 'components/header/authentication.html' with title=officesync.app %}
        <main>
            {% include 'components/sidebar/sidebar.html' with page="mail" %}
            {% include 'components/subsidebar/subsidebar_communication.html' with page="inbox" %}
            <div class="content">
                <div class="blockify">
                    {% include 'components/profile/profile.html' %}
                    <div class="flexify">
                        <div class="blockify">
                            <div class="flexify">
                                <div class="cardify">
                                    <div class="title-container">
                                        <h1 class="h1">{{ message.title }}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="flexify">
                                <div class="grid-announcement">
                                    <div class="author-cardify">
                                        <div class="grid">
                                            <a href="" class="profile-picture">
                                                <img src="/static/svgs/profile_filled.svg" alt="profile">
                                            </a>
                                            <div class="name">
                                                {% if message.sender.advanced.role %}
                                                    <span style="color: {{ message.sender.advanced.role.color }};">{{ message.sender.advanced.role.name }}</span> | {{ message.sender.first_name }} {{ message.sender.last_name }}
                                                {% else %}
                                                    <span style="color: gray;">?</span> | {{ message.sender.first_name }} {{ message.sender.last_name }}
                                                {% endif %}
                                            </div>
                                            <div class="tag">@{{ message.sender.username }}#{{ message.sender.pk }}</div>
                                        </div>
                                    </div>
                                    <div class="date-cardify">
                                        <p>{{ message.formatted_created_at }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flexify">
                                <div class="cardify">
                                    <p class="announcement-content">{{ message.content }}</p>
                                    <div class="signature-grid">
                                        {% if signature.show_name %}
                                            <p class="name">{{ message.sender.first_name }} {{ message.sender.last_name }}</p>
                                        {% endif %}
                                        {% if signature.show_role %}
                                            {% if message.sender.advanced.role %}
                                                <p class="role" style="color: {{ message.sender.advanced.role.color }}">{{ message.sender.advanced.role.name }}</p>
                                            {% else %}
                                                <p class="role" style="color: gray";>?</p>
                                            {% endif %}
                                        {% endif %}
                                        {% if signature.show_logo %}
                                            {% if signature.get_logo_url %}<img class="signature-logo" src="{{ signature.get_logo_url }}" alt="logo" />{% endif %}
                                        {% endif %}
                                        {% if signature.show_corporation %}<p class="corporation">{{ signature.corporation }}</p>{% endif %}
                                        <p class="address">
                                            {% if signature.show_street %}
                                                {% if signature.street %}{{ signature.street }}{% endif %}
                                            {% endif %}
                                            {% if signature.show_housenumber %}
                                                {% if signature.housenumber %}{{ signature.housenumber }}{% endif %}
                                            {% endif %}
                                        </p>
                                        <p class="location">
                                            {% if signature.show_zip %}
                                                {% if signature.zip %}{{ signature.zip }}{% endif %}
                                            {% endif %}
                                            {% if signature.show_location %}
                                                {% if signature.location %}{{ signature.location }}{% endif %}
                                            {% endif %}
                                        </p>
                                        {% if signature.show_country %}
                                            <p class="country">
                                                {% if signature.country %}{{ signature.country }}{% endif %}
                                            </p>
                                        {% endif %}
                                        {% if signature.show_url %}
                                            <p class="url">
                                                {% if signature.url %}{{ signature.url }}{% endif %}
                                            </p>
                                        {% endif %}
                                    </div>
                                    {% if request.user.is_authenticated and not message.receiver_read %}
                                        <form method="post"
                                              style="border-top-style: solid;
                                                     border-top-width: 1px;
                                                     border-top-color: lightgray">
                                            {% csrf_token %}
                                            <div class="buttons">
                                                <button class="submit" type="submit">{% translate "Gelesen" %}</button>
                                            </div>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include 'components/footer.html' %}
    </body>
