{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if officesync.get_logo_url %}<link rel="icon" href="{{ officesync.get_logo_url }}" type="image/png">{% endif %}
        <link rel="stylesheet" href="{% static 'css/global/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/pages/main_home.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/profile.css' %}">
        <title>{{ officesync.app }} - {% translate "Ankündigung erstellen" %}</title>
    </head>
    <body>
        {% include 'components/header/authentication.html' with title=officesync.app %}
        <main>
            {% include 'components/sidebar/sidebar.html' with page="mail" %}
            {% include 'components/subsidebar/subsidebar_communication.html' with page="inbox" %}
            <div class="content">
                <div class="blockify">
                    {% include 'components/profile/profile.html' %}
                    <div class="flexify">
                        <div class="blockify">
                            <div class="flexify">
                                <div class="cardify">
                                    <div class="title-container">
                                        <h1 class="h1">{% translate "Senden an" %}</h1>
                                    </div>
                                </div>
                            </div>
                            <form style="display: flex; align-items: center;" method="get" action="">
                                <input style="height: 24px;
                                              padding: 12px;
                                              margin-right: 12px;
                                              width: 50%"
                                       type="text"
                                       name="search"
                                       placeholder="{% translate "Benutzer suchen..." %}">
                                {% if search_query %}
                                    <button style="width: 50%" type ="submit">
                                        {% translate "Zurücksetzen" %}
                                    </button =>
                                {% else %}
                                    <button style="width: 50%" type="submit">{% translate "Suchen" %}</button>
                                {% endif %}
                            </form>
                            {% for user in users %}
                                <div class="role-card">
                                    <a class="blockify" href="{% url 'message_create' user.pk %}">
                                        <div class="userify">
                                            <div class="flexify img">
                                                {% if user.advanced.pp == "bird" %}
                                                    <img src="{% static 'svgs/bird.svg' %}" alt="bird" />
                                                {% elif user.advanced.pp == "butterfly" %}
                                                    <img src="{% static 'svgs/butterfly.svg' %}" alt="butterfly" />
                                                {% elif user.advanced.pp == "cat" %}
                                                    <img src="{% static 'svgs/cat.svg' %}" alt="cat" />
                                                {% elif user.advanced.pp == "dog" %}
                                                    <img src="{% static 'svgs/dog.svg' %}" alt="dog" />
                                                {% elif user.advanced.pp == "duck" %}
                                                    <img src="{% static 'svgs/duck.svg' %}" alt="duck" />
                                                {% elif user.advanced.pp == "jellyfish" %}
                                                    <img src="{% static 'svgs/jellyfish.svg' %}" alt="jellyfish" />
                                                {% elif user.advanced.pp == "owl" %}
                                                    <img src="{% static 'svgs/owl.svg' %}" alt="owl" />
                                                {% elif user.advanced.pp == "panda" %}
                                                    <img src="{% static 'svgs/panda.svg' %}" alt="panda" />
                                                {% elif user.advanced.pp == "penguin" %}
                                                    <img src="{% static 'svgs/penguin.svg' %}" alt="penguin" />
                                                {% elif user.advanced.pp == "pig" %}
                                                    <img src="{% static 'svgs/pig.svg' %}" alt="pig" />
                                                {% elif user.advanced.pp == "rabbit" %}
                                                    <img src="{% static 'svgs/rabbit.svg' %}" alt="rabbit" />
                                                {% elif user.advanced.pp == "sheep" %}
                                                    <img src="{% static 'svgs/sheep.svg' %}" alt="sheep" />
                                                {% elif user.advanced.pp == "snail" %}
                                                    <img src="{% static 'svgs/snail.svg' %}" alt="snail" />
                                                {% elif user.advanced.pp == "snake" %}
                                                    <img src="{% static 'svgs/snake.svg' %}" alt="snake" />
                                                {% elif user.advanced.pp == "turkey" %}
                                                    <img src="{% static 'svgs/turkey.svg' %}" alt="turkey" />
                                                {% elif user.advanced.pp == "turtle" %}
                                                    <img src="{% static 'svgs/turtle.svg' %}" alt="turtle" />
                                                {% else %}
                                                    <img class="no-profile"
                                                         src="/static/svgs/profile_filled.svg"
                                                         alt="profile" />
                                                {% endif %}
                                            </div>
                                            <p class="name">
                                                {% if user.advanced.role %}
                                                    <span style="color: {{ user.advanced.role.color }};">{{ user.advanced.role }}</span> |
                                                {% else %}
                                                    <span style="color: gray;">?</span> |
                                                {% endif %}
                                                {{ user.first_name }} {{ user.last_name }}
                                            </p>
                                            <p class="usertag">@{{ user.username }}</p>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
