{% load static %}
{% load i18n %}
<div class="sidebar">
    <div class="flexify">
        <div class="grid">
            {% if page == 'config' %}
                <a href="{% url 'system' %}" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/application-cog.svg' %}" alt="application-cog" />
                        </div>
                        <div class="text">
                            <p>{% translate "Konfiguration" %}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'system' %}" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/application-cog.svg' %}" alt="application-cog" />
                        </div>
                        <div class="text">
                            <p>{% translate "Konfiguration" %}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if page == 'roles' %}
                <a href="{% url 'roles' %}" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/group.svg' %}" alt="roles" />
                        </div>
                        <div class="text">
                            <p>{% translate "Rollen" %}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'roles' %}" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/group.svg' %}" alt="roles" />
                        </div>
                        <div class="text">
                            <p>{% translate "Rollen" %}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if page == 'users' %}
                <a href="{% url 'users' %}" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/group_filled.svg' %}" alt="group" />
                        </div>
                        <div class="text">
                            {% if request.user.user_custom_interface.gender %}
                                <p>{% translate "Benutzer*innenliste" %}</p>
                            {% else %}
                                <p>{% translate "Benutzerliste" %}</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'users' %}" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/group_filled.svg' %}" alt="group" />
                        </div>
                        <div class="text">
                            {% if request.user.user_custom_interface.gender %}
                                <p>{% translate "Benutzer*innenliste" %}</p>
                            {% else %}
                                <p>{% translate "Benutzerliste" %}</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if page == 'logs' %}
                <a href="{% url 'logs' %}" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/clipboard-text-clock.svg' %}" alt="clipboard" />
                        </div>
                        <div class="text">
                            <p>{% translate "Protokolle" %}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'logs' %}" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/clipboard-text-clock.svg' %}" alt="clipboard" />
                        </div>
                        <div class="text">
                            <p>{% translate "Protokolle" %}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if page == 'signature' %}
                <a href="{% url 'users' %}" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/ideogram-cjk.svg' %}" alt="signature" />
                        </div>
                        <div class="text">
                            <p>{% translate "Signatur" %}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'users' %}" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/ideogram-cjk.svg' %}" alt="signature" />
                        </div>
                        <div class="text">
                            <p>{% translate "Signatur" %}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
        </div>
    </div>
</div>
