{% load static %}
{% load i18n %}
<div class="sidebar">
    <div class="flexify">
        <div class="grid">
            <div class="logo">
                {% if officesync.get_logo_url %}<img src="{{ officesync.get_logo_url }}" alt="edit" />{% endif %}
            </div>
            {% if request.user.is_authenticated %}
                {% if page == "home" %}
                    <a href="{% url 'home' %}" class="section">
                        <div class="current">
                            <div class="icon">
                                <img src="{% static 'svgs/home_filled.svg' %}" alt="home" />
                            </div>
                            <div class="text">
                                <p>{% translate "Startseite" %}</p>
                            </div>
                        </div>
                    </a>
                {% else %}
                    <a href="{% url 'home' %}" class="section">
                        <div class="not-current">
                            <div class="icon">
                                <img src="{% static 'svgs/home_filled.svg' %}" alt="home" />
                            </div>
                            <div class="text">
                                <p>{% translate "Startseite" %}</p>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endif %}
            {% if request.user.is_authenticated %}
                {% if page == "administration" %}
                    <a href="{% url 'system' %}" class="section">
                        <div class="current">
                            <div class="icon">
                                <img src="{% static 'svgs/shield-crown.svg' %}" alt="home" />
                            </div>
                            <div class="text">
                                <p>{% translate "Administration" %}</p>
                            </div>
                        </div>
                    </a>
                {% else %}
                    <a href="{% url 'system' %}" class="section">
                        <div class="not-current">
                            <div class="icon">
                                <img src="{% static 'svgs/shield-crown.svg' %}" alt="home" />
                            </div>
                            <div class="text">
                                <p>{% translate "Administration" %}</p>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endif %}
            {% if request.user.is_authenticated %}
                <a href="" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/sticker-emoji.svg' %}" alt="home" />
                        </div>
                        <div class="text">
                            <p>{% translate "Persönlich" %}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if request.user.is_authenticated %}
                {% if page == "mail" %}
                    <a href="{% url 'announcements' %}" class="section">
                        <div class="current">
                            <div class="icon">
                                <img src="{% static 'svgs/email.svg' %}" alt="home" />
                            </div>
                            <div class="text">
                                <p>{% translate "Kommunikation" %}</p>
                            </div>
                            {% if unread_count %}
                            <div class="count">
                                <p>{{ unread_count }}</p>
                            </div>
                            {% endif %}
                        </div>
                    </a>
                {% else %}
                    <a href="{% url 'announcements' %}" class="section">
                        <div class="not-current">
                            <div class="icon">
                                <img src="{% static 'svgs/email.svg' %}" alt="home" />
                            </div>
                            <div class="text">
                                <p>{% translate "Kommunikation" %}</p>
                            </div>
                            {% if unread_count %}
                            <div class="count">
                                <p>{{ unread_count }}</p>
                            </div>
                            {% endif %}
                        </div>
                    </a>
                {% endif %}
            {% endif %}
            {% if request.user.is_authenticated %}
                <a href="" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/ruler-square-compass.svg' %}" alt="home" />
                        </div>
                        <div class="text">
                            <p>{% translate "Verwaltung" %}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if request.user.is_authenticated %}
                {% if page == "disposition" %}
                    <a href="{% url 'tours' %}" class="section">
                        <div class="current">
                            <div class="icon">
                                <img src="{% static 'svgs/map-marker-path.svg' %}" alt="home" />
                            </div>
                            <div class="text">
                                <p>{% translate "Disposition" %}</p>
                            </div>
                        </div>
                    </a>
                {% else %}
                    <a href="{% url 'tours' %}" class="section">
                        <div class="not-current">
                            <div class="icon">
                                <img src="{% static 'svgs/map-marker-path.svg' %}" alt="home" />
                            </div>
                            <div class="text">
                                <p>{% translate "Disposition" %}</p>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endif %}
            {% if request.user.is_authenticated %}
                <a href="" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/cloud_filled.svg' %}" alt="home" />
                        </div>
                        <div class="text">
                            <p>{% translate "Cloud" %}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
            <a href="" class="section">
                <div class="not-current">
                    <div class="icon">
                        <img src="{% static 'svgs/document_contact.svg' %}" alt="impressum" />
                    </div>
                    <div class="text">
                        <p>{% translate "Impressum" %}</p>
                    </div>
                </div>
            </a>
            {% if page == "privacy" %}
                <a href="{% url 'privacy' %}" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/shield-account.svg' %}" alt="impressum" />
                        </div>
                        <div class="text">
                            <p>{% translate "Datenschutzerklärung" %}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'privacy' %}" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/shield-account.svg' %}" alt="impressum" />
                        </div>
                        <div class="text">
                            <p>{% translate "Datenschutzerklärung" %}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if page == "terms" %}
                <a href="{% url 'terms' %}" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/cursor-pointer.svg' %}" alt="impressum" />
                        </div>
                        <div class="text">
                            <p>{% translate "Nutzungsbedingungen" %}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'terms' %}" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/cursor-pointer.svg' %}" alt="impressum" />
                        </div>
                        <div class="text">
                            <p>{% translate "Nutzungsbedingungen" %}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if page == "copyright" %}
                <a href="{% url 'copyright' %}" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/copyright.svg' %}" alt="impressum" />
                        </div>
                        <div class="text">
                            <p>{% translate "Urheberrecht" %}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'copyright' %}" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/copyright.svg' %}" alt="impressum" />
                        </div>
                        <div class="text">
                            <p>{% translate "Urheberrecht" %}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="loginout loginout-dashboard">
                    <p>{% translate "Abmelden" %}</p>
                    <img src="{% static 'svgs/logout.svg' %}" alt="logout" />
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="loginout loginout-dashboard">
                    <p>{% translate "Anmelden" %}</p>
                    <img src="{% static 'svgs/login.svg' %}" alt="logout" />
                </a>
            {% endif %}
            <div class="version">
                <p>{% translate "OfficeSync" %}</p>
                <p>v2023.0.1</p>
            </div>
        </div>
    </div>
</div>
