{% load static %}
<footer>
    <div class="ad">
        <div class="text">
            <div class="swiss-made">
                <p>Swiss Made</p>
            </div>
            <div class="kiidle">
                <p class="blue">K</p>
                <p class="f-red">i</p>
                <p class="gold">i</p>
                <p class="blue">d</p>
                <p class="green">l</p>
                <p class="f-red">e</p>
            </div>
        </div>
        <div class="flag">
            <img src="{% static 'images/swiss_flag.png' %}" alt='brigada'/>
        </div>
    </div>
</footer>