html, body {
    padding: 0;
    height: 100%;
    background-color: #c9c8c8;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

.access-denied {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
    color: #9d0300;
    font-weight: bold;
}

.content .blockify .button {
    cursor: pointer;
    display: flex;
    height: 32px;
    width: 32px;
    padding: 6px;
    margin: 12px 0;
    border-radius: 2px;
    transition: transform 0.1s ease-in-out;
}

.content .blockify .button:hover {
    transform: scale(1.1);
}

.content .blockify .button img {
    filter: invert();
}

.content .blockify .add {
    background-color: #009543;
}

.content .blockify .edit {
    background-color: #7c7c7c;
}

@media print {
    body {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: white;
    }
}