{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if officesync.get_logo_url %}<link rel="icon" href="{{ officesync.get_logo_url }}" type="image/png">{% endif %}
        <link rel="stylesheet" href="{% static 'css/global/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/pages/main_home.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/profile.css' %}">
        <title>{{ officesync.app }} - {{ role.name }}</title>
    </head>
    <body>
        {% include 'components/header/authentication.html' with title=officesync.app %}
        <main>
            {% include 'components/sidebar/sidebar.html' with page="administration" %}
            {% include 'components/subsidebar/subsidebar_administration.html' with page="roles" %}
            <div class="content">
                <div class="blockify">
                    {% include 'components/profile/profile.html' %}
                    <div class="flexify">
                        <div class="cardify">
                            <div class="title-container">
                                <h1 style="color: {{ role.color }}" class="h1">{{ role.name }}</h1>
                                <div class="edit-container">
                                    {% if has_delete_role_permission %}
                                        <a class="button delete" href="{% url 'role_delete' role.name %}">
                                            <img src="{% static 'svgs/delete.svg' %}" alt="edit" />
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flexify">
                        <div class="cardify">
                            {% if request.user.is_authenticated %}
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="buttons">
                                        <a href="{% url 'role' role.name %}"
                                           class="cancel-button cancel-delete-confirm">{% translate "Abbrechen" %}</a>
                                        {% if role.name %}
                                            <button class="submit" type="submit">{% translate "Speichern" %}</button>
                                        {% else %}
                                            <button class="submit" type="submit">{% translate "Hinzufügen" %}</button>
                                        {% endif %}
                                    </div>
                                </form>
                            {% else %}
                                <p class="access-denied">{% translate "Zugriff verweigert" %}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include 'components/footer.html' %}
    </body>
