{% load static %}
{% load i18n %}
<div class="sidebar">
    <div class="flexify">
        <div class="grid">
            {% if page == 'tours' %}
                <a href="" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/transit-connection-variant.svg' %}"
                                 alt="products" />
                        </div>
                        <div class="text">
                            <p>{% translate "Touren" %}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/transit-connection-variant.svg' %}"
                                 alt="products" />
                        </div>
                        <div class="text">
                            <p>{% translate "Touren" %}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if page == 'locations' %}
                <a href="{% url 'stations' %}" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/map-marker-multiple.svg' %}" alt="products" />
                        </div>
                        <div class="text">
                            <p>{% translate "Standorte" %}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'stations' %}" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/map-marker-multiple.svg' %}" alt="products" />
                        </div>
                        <div class="text">
                            <p>{% translate "Standorte" %}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if page == 'vehicles' %}
                <a href="{% url 'vehicles' %}" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/truck.svg' %}" alt="products" />
                        </div>
                        <div class="text">
                            <p>{% translate "Fahrzeuge" %}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'vehicles' %}" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/truck.svg' %}" alt="products" />
                        </div>
                        <div class="text">
                            <p>{% translate "Fahrzeuge" %}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
        </div>
    </div>
</div>
