.content {
    display: flex;
    width: 100%;
    padding: 12px;
    overflow-y: scroll;
    height: calc(100vh - 75px);
}

.content::-webkit-scrollbar {
    display: none;
}

.content .blockify {
    display: block;
    width: 100%;
}

.content .blockify .flexify {
    display: flex;
    justify-content: center;
}

.content .blockify .flexify .access-denied {
    margin: 24px 0;
    display: flex;
    max-width: 384px;
    width: 100%;
}

.content .blockify .flexify .access-denied img {
    width: 100%;
}

.content .blockify .flexify .reprimant-count-box {
    margin: 12px;
}

.content .blockify .flexify .reprimant-count-box .reprimant-count-one {
    padding: 12px;
    background-color: #009543;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.content .blockify .flexify .reprimant-count-box .reprimant-count-two {
    padding: 12px;
    background-color: #ff9100;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.content .blockify .flexify .reprimant-count-box .reprimant-count-three {
    padding: 12px;
    background-color: darkred;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.content .blockify .flexify .cardify {
    max-width: 1000px;
    width: 100%;
    background-color: white;
    padding: 12px;
    margin: 12px auto;
    border-radius: 5px;
    cursor: pointer;
}

.content .blockify .flexify .cardify .folder {
    display: grid;
    grid-template-columns: 32px auto 32px;
    grid-template-rows: 32px;
    grid-template-areas:
        "icon title count";
    grid-gap: 12px;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
}

.content .blockify .flexify .cardify .folder:hover {
    background-color: #ededed;
}

.content .blockify .flexify .cardify .folder .icon {
    height: 32px;
    width: 32px;
    display: flex;
    filter: invert(59%) sepia(70%) saturate(6508%) hue-rotate(163deg) brightness(100%) contrast(101%);
}

.content .blockify .flexify .cardify .folder .title {
    display: flex;
    align-items: center;
    color: gray;
}

.content .blockify .flexify .cardify-pp {
    display: inline-block;
    background-color: white;
    padding: 12px;
    margin: 12px auto;
    border-radius: 5px;
    cursor: pointer;
}

.content .blockify .flexify .cardify-pp .cardify-pp-grid {
    display: grid;
    grid-template-columns: 96px 1fr;
    grid-template-rows: 48px 32px 16px;
    grid-template-areas:
        "img name"
        "img username"
        "img role";
    grid-column-gap: 12px;
}

.content .blockify .flexify .cardify-pp .cardify-pp-grid img {
    grid-area: img;
    height: 100%;
    width: 100%;
}

.content .blockify .flexify .cardify-pp .cardify-pp-grid .name {
    grid-area: name;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.content .blockify .flexify .cardify-pp .cardify-pp-grid .username {
    grid-area: username;
    display: flex;
    align-items: center;
    font-weight: normal;
    color: gray;
}

.content .blockify .flexify .cardify-pp .cardify-pp-grid .role {
    grid-area: role;
    display: flex;
    align-items: end;
    font-size: 0.75rem;
    font-weight: bold;
}

.content .blockify .flexify .cardify .title-container {
    display: grid;
    grid-template-columns: 1fr auto 50px;
    grid-template-rows: 68px;
    grid-template-areas:
        "h1 . button";
}

.content .blockify .flexify .manage-role-buttons-container {
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 68px;
    grid-template-areas:
        ". right";
}

.content .blockify .flexify .manage-role-buttons-container .align-right {
    grid-area: right;
}

.content .blockify .flexify .tabs-profile {
    max-width: 1024px;
    width: 100%;
    background-color: #eeeeee;
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    grid-template-columns:
        1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "public personal work";
}

.content .blockify .flexify .tabs-profile .public,
.content .blockify .flexify .tabs-profile .personal,
.content .blockify .flexify .tabs-profile .work {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    text-decoration: none;
}

.content .blockify .flexify .tabs-profile .public {
    grid-area: public;
}

.content .blockify .flexify .tabs-profile .personal {
    grid-area: personal;
}

.content .blockify .flexify .tabs-profile .work {
    grid-area: work;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: auto 24px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "title count";
}

.content .blockify .flexify .tabs .tab2 {
    grid-area: tab2;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    text-decoration: none;

}

.content .blockify .flexify .tabs {
    max-width: 1024px;
    width: 100%;
    background-color: #eeeeee;
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    grid-template-columns:
        1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "tab1 tab2";
}

.content .blockify .flexify .tabs .current,
.content .blockify .flexify .tabs-profile .current {
    border-bottom-color: gray;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.content .blockify .flexify .tabs .tab1 {
    grid-area: tab1;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    text-decoration: none;
}

.content .blockify .flexify .tabs .tab2 {
    grid-area: tab2;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    text-decoration: none;

}

.content .blockify .flexify .tabs .tab1:hover,
.content .blockify .flexify .tabs .tab2:hover,
.content .blockify .flexify .tabs-profile .public:hover,
.content .blockify .flexify .tabs-profile .personal:hover,
.content .blockify .flexify .tabs-profile .work:hover   {
    background-color: #dadada;
    border-radius: 5px;
}

.content .blockify .flexify .cardify .permissions h2 {
    margin: 12px auto;
}

.content .blockify .flexify .cardify .permissions .permission-container {
    display: grid;
    grid-template-columns: 1fr 1fr 100px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "value description status";
    grid-column-gap: 12px;
    margin: 12px 0;
}

.content .blockify .flexify .permissions .titlefy {
    font-weight: bold;
    margin: 12px 0;
}

.content .blockify .flexify .permissions .datafy {
    color: gray;
    margin: 12px auto;
}

.content .blockify .flexify .permissions .media {
    display: grid;
    grid-column-gap: 12px;
    grid-template-columns: 24px 1fr;
    grid-template-rows: 24px;
    grid-template-areas:
        "media-pic text-pic"
}

.content .blockify .flexify .permissions .medias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content .blockify .flexify .permissions .medias .media {
    padding: 6px;
}

.content .blockify .flexify .permissions .medias .media .media-pic {
    grid-area: media-pic;
}

.content .blockify .flexify .permissions .medias .media .text-pic {
    grid-area: text-pic;
    color: gray;
}

.content .blockify .flexify .permissions .medias .media .discord-pic {
    filter: invert(48%) sepia(88%) saturate(4175%) hue-rotate(221deg) brightness(95%) contrast(101%);
}

.content .blockify .flexify .permissions .medias .media .epicgames-pic {
    filter: invert(0%) sepia(7%) saturate(7473%) hue-rotate(352deg) brightness(101%) contrast(108%);
}

.content .blockify .flexify .permissions .medias .media .facebook-pic {
    filter: invert(32%) sepia(85%) saturate(4994%) hue-rotate(215deg) brightness(104%) contrast(105%);
}

.content .blockify .flexify .permissions .medias .media .instagram-pic {
    filter: invert(38%) sepia(82%) saturate(2943%) hue-rotate(326deg) brightness(93%) contrast(91%);
}

.content .blockify .flexify .permissions .medias .media .linkedin-pic {
    filter: invert(25%) sepia(91%) saturate(1462%) hue-rotate(191deg) brightness(103%) contrast(94%);
}

.content .blockify .flexify .permissions .medias .media .pinterest-pic {
    filter: invert(20%) sepia(66%) saturate(7461%) hue-rotate(346deg) brightness(73%) contrast(105%);
}

.content .blockify .flexify .permissions .medias .media .playstation-pic {
    filter: invert(17%) sepia(91%) saturate(1998%) hue-rotate(206deg) brightness(89%) contrast(109%);
}

.content .blockify .flexify .permissions .medias .media .reddit-pic {
    filter: invert(35%) sepia(38%) saturate(5544%) hue-rotate(0deg) brightness(101%) contrast(108%);
}

.content .blockify .flexify .permissions .medias .media .snapchat-pic {
    filter: invert(85%) sepia(68%) saturate(7497%) hue-rotate(354deg) brightness(105%) contrast(108%);
}

.content .blockify .flexify .permissions .medias .media .steam-pic {
    filter: invert(0%) sepia(7%) saturate(7473%) hue-rotate(352deg) brightness(101%) contrast(108%);
}

.content .blockify .flexify .permissions .medias .media .threads-pic {
    filter: invert(0%) sepia(7%) saturate(7473%) hue-rotate(352deg) brightness(101%) contrast(108%);
}

.content .blockify .flexify .permissions .medias .media .tiktok-pic {
    filter: invert(0%) sepia(7%) saturate(7473%) hue-rotate(352deg) brightness(101%) contrast(108%);
}

.content .blockify .flexify .permissions .medias .media .twitter-pic {
    filter: invert(0%) sepia(7%) saturate(7473%) hue-rotate(352deg) brightness(101%) contrast(108%);
}

.content .blockify .flexify .permissions .medias .media .xbox-pic {
    filter: invert(27%) sepia(76%) saturate(1126%) hue-rotate(85deg) brightness(103%) contrast(92%);
}

.content .blockify .flexify .permissions .medias .media .xing-pic {
    filter: invert(30%) sepia(13%) saturate(6211%) hue-rotate(148deg) brightness(87%) contrast(101%);
}

.content .blockify .flexify .permissions .medias .media .youtube-pic {
    filter: invert(10%) sepia(98%) saturate(7440%) hue-rotate(357deg) brightness(93%) contrast(120%);
}

.content .blockify .flexify .cardify .permissions .permission-container .value {
    grid-area: value;
}

.content .blockify .flexify .cardify .permissions .permission-container .description {
    grid-area: description;
}

.content .blockify .flexify .cardify .permissions .permission-container .status {
    grid-area: status;
}

.content .blockify .flexify .cardify .permissions .permission-container .permission-check {
    display: flex;
    width: 16px;
    margin: 0 12px;
    filter: invert(49%) sepia(0%) saturate(1%) hue-rotate(242deg) brightness(99%) contrast(86%);
}

.content .blockify .flexify .cardify .permissions .permission-container .permission-checkbox {
    display: flex;
    width: 48px;
    height: 48px;
}

.content .blockify .flexify .cardify .permissions .permission-container .permission-checkbox input {
    width: 100%;
    height: 100%;
}

.content .blockify .flexify .cardify .permissions .permission-container .permission-checkbox input:checked {
    accent-color: #009543;
}

.content .blockify .flexify .cardify .permissions .permission-container .checked {
    filter: invert(37%) sepia(93%) saturate(536%) hue-rotate(99deg) brightness(95%) contrast(101%);
}

.content .blockify .flexify .cardify .title-container .h1 {
    grid-area: h1;
    display: flex;
    align-items: center;
}

.content .blockify .flexify .cardify .title-container .edit-container {
    grid-area: button;
}

.content .blockify .flexify .grid-notes {
    max-width: 1000px;
    width: 100%;
    margin: 12px auto;
    display: grid;
    grid-gap: 36px 12px;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
}

.content .blockify .flexify .grid-notes .note {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "note-header"
        "note-content";
    min-height: 275px;
}

.content .blockify .flexify .grid-notes .note .note-header {
    grid-area: "note-header";
    font-weight: bold;
    display: flex;
}

.content .blockify .flexify .grid-notes .note-header .gray,
.content .blockify .flexify .grid-notes .note-header .purple,
.content .blockify .flexify .grid-notes .note-header .blue,
.content .blockify .flexify .grid-notes .note-header .cyan,
.content .blockify .flexify .grid-notes .note-header .green,
.content .blockify .flexify .grid-notes .note-header .yellow,
.content .blockify .flexify .grid-notes .note-header .orange,
.content .blockify .flexify .grid-notes .note-header .red {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "title edit";
        align-items: center;
        border-radius: 5px 5px 0 0;
}

.content .blockify .flexify .grid-notes .note .note-header .gray {
    background-color: #b6b6b6;
    padding: 0 0 0 12px;
}

.content .blockify .flexify .grid-notes .note .note-header .purple {
    background-color: #E597F9;
    padding: 0 0 0 12px;
}

.content .blockify .flexify .grid-notes .note .note-header .blue {
    background-color: #97D6F9;
    padding: 0 0 0 12px;
}

.content .blockify .flexify .grid-notes .note .note-header .cyan {
    background-color: #97F9ED;
    padding: 0 0 0 12px;
}

.content .blockify .flexify .grid-notes .note .note-header .green {
    background-color: #97F99B;
    padding: 0 0 0 12px;
}

.content .blockify .flexify .grid-notes .note .note-header .yellow {
    background-color: #FFE49E;
    padding: 0 0 0 12px;
}

.content .blockify .flexify .grid-notes .note .note-header .orange {
    background-color: #FFC19E;
    padding: 0 0 0 12px;
}

.content .blockify .flexify .grid-notes .note .note-header .red {
    background-color: #FF9E9E;
    padding: 0 0 0 12px;
}

.content .blockify .flexify .grid-notes .note-header .gray .title,
.content .blockify .flexify .grid-notes .note-header .purple .title,
.content .blockify .flexify .grid-notes .note-header .blue .title,
.content .blockify .flexify .grid-notes .note-header .cyan .title,
.content .blockify .flexify .grid-notes .note-header .green .title,
.content .blockify .flexify .grid-notes .note-header .yellow .title,
.content .blockify .flexify .grid-notes .note-header .orange .title,
.content .blockify .flexify .grid-notes .note-header .red .title {
    grid-area: title;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content .blockify .flexify .grid-notes .note-header .gray .title p,
.content .blockify .flexify .grid-notes .note-header .purple .title p,
.content .blockify .flexify .grid-notes .note-header .blue .title p,
.content .blockify .flexify .grid-notes .note-header .cyan .title p,
.content .blockify .flexify .grid-notes .note-header .green .title p,
.content .blockify .flexify .grid-notes .note-header .yellow .title p,
.content .blockify .flexify .grid-notes .note-header .orange .title p,
.content .blockify .flexify .grid-notes .note-header .red .title p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.content .blockify .flexify .grid-notes .note-header .gray .edit,
.content .blockify .flexify .grid-notes .note-header .purple .edit,
.content .blockify .flexify .grid-notes .note-header .blue .edit,
.content .blockify .flexify .grid-notes .note-header .cyan .edit,
.content .blockify .flexify .grid-notes .note-header .green .edit,
.content .blockify .flexify .grid-notes .note-header .yellow .edit,
.content .blockify .flexify .grid-notes .note-header .orange .edit,
.content .blockify .flexify .grid-notes .note-header .red .edit {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: edit;
    padding: 8px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.content .blockify .flexify .grid-notes .note-header .gray .edit {
    background-color: #a3a3a3;
}

.content .blockify .flexify .grid-notes .note-header .gray .edit:hover {
    background-color: #969696;
}

.content .blockify .flexify .grid-notes .note-header .purple .edit {
    background-color: #d28ae4;
}

.content .blockify .flexify .grid-notes .note-header .purple .edit:hover {
    background-color: #c37fd4;
}

.content .blockify .flexify .grid-notes .note-header .blue .edit {
    background-color: #8bc9eb;
}

.content .blockify .flexify .grid-notes .note-header .blue .edit:hover {
    background-color: #83bede;
}

.content .blockify .flexify .grid-notes .note-header .cyan .edit {
    background-color: #8dece1;
}

.content .blockify .flexify .grid-notes .note-header .cyan .edit:hover {
    background-color: #84ddd2;
}

.content .blockify .flexify .grid-notes .note-header .green .edit {
    background-color: #8fec92;
}

.content .blockify .flexify .grid-notes .note-header .green .edit:hover {
    background-color: #85dc88;
}

.content .blockify .flexify .grid-notes .note-header .yellow .edit {
    background-color: #efd694;
}

.content .blockify .flexify .grid-notes .note-header .yellow .edit:hover {
    background-color: #e4cd8e;
}

.content .blockify .flexify .grid-notes .note-header .orange .edit {
    background-color: #ebb291;
}

.content .blockify .flexify .grid-notes .note-header .orange .edit:hover {
    background-color: #d9a485;
}

.content .blockify .flexify .grid-notes .note-header .red .edit {
    background-color: #f79191;
}

.content .blockify .flexify .grid-notes .note-header .red .edit:hover {
    background-color: #e38484;
}

.content .blockify .flexify .grid-notes .note-header .gray .edit img,
.content .blockify .flexify .grid-notes .note-header .purple .edit img,
.content .blockify .flexify .grid-notes .note-header .blue .edit img,
.content .blockify .flexify .grid-notes .note-header .cyan .edit img,
.content .blockify .flexify .grid-notes .note-header .green .edit img,
.content .blockify .flexify .grid-notes .note-header .yellow .edit img,
.content .blockify .flexify .grid-notes .note-header .orange .edit img,
.content .blockify .flexify .grid-notes .note-header .red .edit img {
    width: 100%;
    height: 100%;
    filter: invert();
}
.content .blockify .flexify .grid-notes .note .note-content {
    grid-area: "note-content";
}

.content .blockify .flexify .grid-notes .note .note-content .gray,
.content .blockify .flexify .grid-notes .note .note-content .purple,
.content .blockify .flexify .grid-notes .note .note-content .blue,
.content .blockify .flexify .grid-notes .note .note-content .cyan,
.content .blockify .flexify .grid-notes .note .note-content .green,
.content .blockify .flexify .grid-notes .note .note-content .yellow,
.content .blockify .flexify .grid-notes .note .note-content .orange,
.content .blockify .flexify .grid-notes .note .note-content .red {
    border-radius: 0 0 5px 5px;
}

.content .blockify .flexify .grid-notes .note .note-content .gray {
    background-color: #c3c3c3;
    padding: 12px;
    height: 100%;
}

.content .blockify .flexify .grid-notes .note .note-content .purple {
    background-color: #F1BBFF;
    padding: 12px;
    height: 100%;
}

.content .blockify .flexify .grid-notes .note .note-content .blue {
    background-color: #BBE6FF;
    padding: 12px;
    height: 100%;
}

.content .blockify .flexify .grid-notes .note .note-content .cyan {
    background-color: #BBFFFB;
    padding: 12px;
    height: 100%;
}

.content .blockify .flexify .grid-notes .note .note-content .green {
    background-color: #BBFFBD;
    padding: 12px;
    height: 100%;
}

.content .blockify .flexify .grid-notes .note .note-content .yellow {
    background-color: #FFF0BB;
    padding: 12px;
    height: 100%;
}

.content .blockify .flexify .grid-notes .note .note-content .orange {
    background-color: #FFD7BB;
    padding: 12px;
    height: 100%;
}

.content .blockify .flexify .grid-notes .note .note-content .red {
    background-color: #FFBBBB;
    padding: 12px;
    height: 100%;
}

.content .blockify .flexify .role-centrify {
    max-width: 512px;
    margin: 12px auto;
}

.content .blockify .flexify .role-card {
    max-width: 512px;
    width: 100%;
    background-color: white;
    margin: 12px auto;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.content .blockify .flexify .role-card .blockify .userify {
    color: black;
    display: grid;
    grid-template-columns: 48px auto 72px;
    grid-template-rows: 24px 24px;
    grid-template-areas:
        "img name checkbox"
        "img usertag checkbox";
    width: 100%;
    grid-column-gap: 12px;
}

.content .blockify .flexify .role-card .blockify .userify .img   {
    grid-area: img;
}

.content .blockify .flexify .role-card .blockify .userify .img .no-profile {
    filter: brightness(0) saturate(100%) invert(56%) sepia(4%) saturate(13%) hue-rotate(346deg) brightness(96%) contrast(87%);
}

.content .blockify .flexify .role-card .blockify .userify .img .location {
    filter: invert(50%) sepia(33%) saturate(7081%) hue-rotate(336deg) brightness(125%) contrast(98%);
}

.content .blockify .flexify .cardify .vehicle-pimg  {
    height: 48px;
    display: flex;
    justify-content: left;
    align-items: center;
    filter: brightness(0) saturate(100%) invert(56%) sepia(4%) saturate(13%) hue-rotate(346deg) brightness(96%) contrast(87%);
}

.content .blockify .flexify .cardify .vehicle-pimg  img {
    margin-right: 12px;
}

.content .blockify .flexify .cardify .vehicle-pimg img {
    height: 100%;
    width: 48px;
}

.content .blockify .flexify .cardify .announcement-content {
    color: darkslategray;
    white-space: pre-line;
}

.content .blockify .flexify .cardify .signature-grid {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
    font-size: 0.75rem;
    margin: 12px 0;
    padding: 12px 0;
    grid-column-gap: 12px;
    display: grid;
    grid-template-columns: 128px 1fr;
    grid-template-rows: 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px;
    grid-template-areas:
        "name ."
        "role ."
        "logo ."
        "logo corporation"
        "logo ."
        "logo address"
        "logo location"
        "logo country"
        "logo ."
        "logo ."
        "url .";
}

.content .blockify .flexify .cardify .signature-grid .name {
    grid-area: name;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.content .blockify .cardify .signature-grid .role {
    grid-area: role;
    display: flex;
    align-items: center;
}

.content .blockify .cardify .signature-grid .corporation {
    grid-area: corporation;
    display: flex;
    align-items: center;
    color: red;
    font-weight: bold;
}

.content .blockify .cardify .signature-grid .address {
    grid-area: address;
    display: flex;
    align-items: center;
}

.content .blockify .cardify .signature-grid .location {
    grid-area: location;
    display: flex;
    align-items: center;
}

.content .blockify .cardify .signature-grid .country {
    grid-area: country;
    display: flex;
    align-items: center;
}

.content .blockify .cardify .signature-grid .url {
    grid-area: url;
    display: flex;
    align-items: center;
    color: #0061FF;
    text-decoration: underline;
}


.content .blockify .flexify .cardify .signature-grid .signature-logo {
    grid-area: logo;
    display: flex;
    width: 100%;
}

.content .blockify .flexify .grid-announcement {
    max-width: 1024px;
    width: 100%;
    grid-gap: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "author-cardify date-cardify";
}

.content .blockify .flexify .date-cardify {
    grid-area: date-cardify;
    display: flex;
    justify-content: right;
    height: min-content;
}

.content .blockify .flexify .date-cardify p {
    background-color: white;
    padding: 12px;
    border-radius: 5px;
    color: gray;
    font-size: 0.7rem;
    font-weight: bold;
}

.content .blockify .flexify .author-cardify {
    grid-area: author-cardify;
    background-color: white;
    padding: 12px;
    border-radius: 5px;
}

.content .blockify .flexify .author-cardify .grid {
    display: grid;
    grid-template-columns: 44px 1fr;
    grid-template-rows: 16px 16px;
    grid-gap: 12px;
    grid-template-areas:
        "profile-picture name"
        "profile-picture role";
}

.content .blockify .flexify .author-cardify .grid .profile-picture {
    grid-area: profile-picture;
    cursor: pointer;
}

.content .blockify .flexify .author-cardify .grid .no-profile-picture {
    filter: brightness(0) saturate(100%) invert(56%) sepia(4%) saturate(13%) hue-rotate(346deg) brightness(96%) contrast(87%);
}

.content .blockify .flexify .author-cardify .grid .name {
    grid-area: name;
    font-weight: bold;
}

.content .blockify .flexify .author-cardify .grid .tag {
    color: gray;
}

.content .blockify .flexify .role-card .blockify .userify .name {
    grid-area: name;
    margin: 0;
}

.content .blockify .flexify .role-card .blockify .userify .name-thin {
    grid-area: name;
    margin: 0;
    font-weight: lighter;
}

.content .blockify .flexify .role-card .blockify .userify .usertag {
    font-weight: normal;
    color: gray;
    grid-area: usertag;
    margin: 0;
}

.content .blockify .flexify .role-card .blockify .userify .checkbox {
    grid-area: checkbox;
    margin: 0 24px 0 0;
}

.content .blockify .flexify .role-card .blockify .userify input:checked {
    accent-color: #009543;
}

.content .blockify .flexify .role-card .blockify .logify {
    color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 24px 24px;
    grid-template-areas:
        "modelname . action"
        "user . date";
    width: 100%;
    grid-column-gap: 12px;
}

.content .blockify .flexify .role-card .blockify .logify .modelname {
    grid-area: modelname;
}

.content .blockify .flexify .role-card .blockify .logify .contentobject {
    grid-area: contentobject;
}

.content .blockify .flexify .role-card .blockify .logify .action {
    grid-area: action;
    display: flex;
    justify-content: right;
    margin-right: 24px;
}

.content .blockify .flexify .role-card .blockify .logify .action .read {
    background-color: #7c7c7c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
}

.content .blockify .flexify .role-card .blockify .logify .action .create {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
}

.content .blockify .flexify .role-card .blockify .logify .action .update {
    background-color: #ff9100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
}

.content .blockify .flexify .role-card .blockify .logify .action .delete {
    background-color: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
}

.content .blockify .flexify .role-card .blockify .logify .date {
    grid-area: date;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 24px;
    font-size: 0.6rem;
}

.role-card a {
    text-decoration: none;
    display: flex;
    height: 100%;
    padding: 12px;
}

.content .form-card {
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 1px;
    padding: 12px;
}

.content .form-card .title, .task-card .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-weight: bold;
    font-size: 1.5rem;
}

.content .dashboard {
    max-width: 1024px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 172px 172px;
    grid-row-gap: 64px;
    margin-bottom: 12px;
}

.content .dashboard .cell {
    height: 172px;
    display: flex;
    justify-content: center;
}

.content .dashboard .cell .card {
    padding: 12px;
    height: 148px;
    width: 148px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 96px 28px;
    grid-template-areas:
        "icon"
        "title";
    grid-row-gap: 12px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.content .dashboard .cell .card-disabled {
    padding: 12px;
    height: 148px;
    width: 148px;
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 96px 28px;
    grid-template-areas:
        "icon"
        "title";
    grid-row-gap: 12px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.content .dashboard .cell .card:hover {
    transform: scale(1.1);
}

.content .dashboard .cell .card .icon, .content .dashboard .cell .card-disabled .icon {
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .dashboard .cell .card .icon img,
.content .dashboard .cell .card-disabled .icon img {
    height: 100%;
    width: 100%;
}

.content .dashboard .cell .card-disabled .icon img {
    filter: invert(55%) sepia(4%) saturate(184%) hue-rotate(15deg) brightness(90%) contrast(85%);
}

.content .dashboard .cell .card .title,
.content .dashboard .cell .card-disabled .title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.content .dashboard .cell .card-disabled .title {
    color: gray;
}

.content .flexify .web {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px;
    grid-gap: 12px;
}

.content .web .cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .web .cell .button {
    width: 100%;
    background-color: #b6b6b6;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
}

.content .web .cell .button:hover {
    background-color: #888888;
}

@media screen and (max-width: 1340px) {
    .content .blockify .flexify .grid-notes {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1064px) {
    .content .blockify .flexify .grid-notes {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 790px) {
    .content .dashboard {
        max-width: 512px;
        width: 100%;
        grid-gap: 1px;
    }

    .content .blockify .flexify .cardify .permissions .permission-container {
        grid-template-columns: 1fr 1fr 100px;
    }
}

@media screen and (max-width: 584px) {
    .content .dashboard {
        width: 344px;
        grid-template-columns: 1fr 1fr;
    }

    .content .flexify .web {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 96px 0;
    }
}

@media screen and (max-width: 472px) {
    .content .dashboard {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 172px 172px 172px 172px;
    }

    .content .flexify .web {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 96px 0;
    }
}

@media print {
    .content .blockify .flexify .tabs-profile {
        display: none;
    }
}
