.content {
    display: flex;
    width: 100%;
    padding: 12px;
    overflow-y: scroll;
    height: calc(100vh - 75px);
}

.content::-webkit-scrollbar {
    display: none;
}

.content .blockify {
    display: block;
    width: 100%;
}

.content .blockify .flexify {
    display: flex;
    justify-content: center;
}

.content .blockify .flexify .cardify {
    max-width: 1000px;
    width: 100%;
    background-color: white;
    padding: 12px;
    margin: 12px auto;
    border-radius: 5px;
    cursor: pointer;
}

.content .blockify .flexify .cardify .title-container {
    display: grid;
    grid-template-columns: 1fr auto 50px;
    grid-template-rows: 68px;
    grid-template-areas:
        "h1 . button";
}

.content .blockify .flexify .manage-role-buttons-container {
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 68px;
    grid-template-areas:
        ". right";
}

.content .blockify .flexify .manage-role-buttons-container .align-right {
    grid-area: right;
}

.content .blockify .flexify .tabs {
    max-width: 1024px;
    width: 100%;
    background-color: #eeeeee;
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    grid-template-columns:
        1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "tab1 tab2";
}

.content .blockify .flexify .tabs .current {
    border-bottom-color: gray;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.content .blockify .flexify .tabs .tab1 {
    grid-area: tab1;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    text-decoration: none;
}

.content .blockify .flexify .tabs .tab1:hover {
    background-color: #dadada;
    border-radius: 5px;
}

.content .blockify .flexify .tabs .tab2 {
    grid-area: tab2;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    text-decoration: none;

}

.content .blockify .flexify .tabs .tab2:hover {
    background-color: #dadada;
    border-radius: 5px;
}

.content .blockify .flexify .cardify .permissions h2 {
    margin: 12px auto;
}

.content .blockify .flexify .cardify .permissions .permission-container {
    display: grid;
    grid-template-columns: 1fr 1fr 100px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "value description status";
    grid-column-gap: 12px;
    margin: 12px 0;
}

.content .blockify .flexify .permissions .titlefy {
    font-weight: bold;
    margin: 12px 0;
}

.content .blockify .flexify .permissions .datafy {
    color: gray;
    margin: 12px auto;
}

.content .blockify .flexify .cardify .permissions .permission-container .value {
    grid-area: value;
}

.content .blockify .flexify .cardify .permissions .permission-container .description {
    grid-area: description;
}

.content .blockify .flexify .cardify .permissions .permission-container .status {
    grid-area: status;
}

.content .blockify .flexify .cardify .permissions .permission-container .permission-check {
    display: flex;
    width: 16px;
    margin: 0 12px;
    filter: invert(49%) sepia(0%) saturate(1%) hue-rotate(242deg) brightness(99%) contrast(86%);
}

.content .blockify .flexify .cardify .permissions .permission-container .permission-checkbox {
    display: flex;
    width: 48px;
    height: 48px;
}

.content .blockify .flexify .cardify .permissions .permission-container .permission-checkbox input {
    width: 100%;
    height: 100%;
}

.content .blockify .flexify .cardify .permissions .permission-container .permission-checkbox input:checked {
    accent-color: #009543;
}

.content .blockify .flexify .cardify .permissions .permission-container .checked {
    filter: invert(37%) sepia(93%) saturate(536%) hue-rotate(99deg) brightness(95%) contrast(101%);
}

.content .blockify .flexify .cardify .title-container .h1 {
    grid-area: h1;
    display: flex;
    align-items: center;
}

.content .blockify .flexify .cardify .title-container .edit-container {
    grid-area: button;
}


.content .blockify .flexify .role-centrify {
    max-width: 512px;
    margin: 12px auto;
}

.content .blockify .flexify .role-card {
    max-width: 512px;
    width: 100%;
    background-color: white;
    margin: 12px auto;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.content .blockify .flexify .role-card .blockify .userify {
    color: black;
    display: grid;
    grid-template-columns: 48px auto 72px;
    grid-template-rows: 24px 24px;
    grid-template-areas:
        "img name checkbox"
        "img usertag checkbox";
    width: 100%;
    grid-column-gap: 12px;
}

.content .blockify .flexify .role-card .blockify .userify .img   {
    grid-area: img;
    filter: brightness(0) saturate(100%) invert(56%) sepia(4%) saturate(13%) hue-rotate(346deg) brightness(96%) contrast(87%);
}

.content .blockify .flexify .cardify .vehicle-pimg  {
    height: 48px;
    display: flex;
    justify-content: left;
    align-items: center;
    filter: brightness(0) saturate(100%) invert(56%) sepia(4%) saturate(13%) hue-rotate(346deg) brightness(96%) contrast(87%);
}

.content .blockify .flexify .cardify .vehicle-pimg  img {
    margin-right: 12px;
}

.content .blockify .flexify .cardify .vehicle-pimg img {
    height: 100%;
    width: 48px;
}

.content .blockify .flexify .cardify .announcement-content {
    color: darkslategray;
    white-space: pre-line;
}

.content .blockify .flexify .cardify .signature-grid {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
    font-size: 0.75rem;
    margin: 12px 0;
    padding: 12px 0;
    grid-column-gap: 12px;
    display: grid;
    grid-template-columns: 128px 1fr;
    grid-template-rows: 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px;
    grid-template-areas:
        "name ."
        "role ."
        "logo ."
        "logo corporation"
        "logo ."
        "logo address"
        "logo location"
        "logo country"
        "logo ."
        "logo ."
        "url .";
}

.content .blockify .flexify .cardify .signature-grid .name {
    grid-area: name;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.content .blockify .cardify .signature-grid .role {
    grid-area: role;
    display: flex;
    align-items: center;
}

.content .blockify .cardify .signature-grid .corporation {
    grid-area: corporation;
    display: flex;
    align-items: center;
    color: red;
    font-weight: bold;
}

.content .blockify .cardify .signature-grid .address {
    grid-area: address;
    display: flex;
    align-items: center;
}

.content .blockify .cardify .signature-grid .location {
    grid-area: location;
    display: flex;
    align-items: center;
}

.content .blockify .cardify .signature-grid .country {
    grid-area: country;
    display: flex;
    align-items: center;
}

.content .blockify .cardify .signature-grid .url {
    grid-area: url;
    display: flex;
    align-items: center;
    color: #0061FF;
    text-decoration: underline;
}


.content .blockify .flexify .cardify .signature-grid .signature-logo {
    grid-area: logo;
    display: flex;
    width: 100%;
}

.content .blockify .flexify .grid-announcement {
    max-width: 1024px;
    width: 100%;
    grid-gap: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "author-cardify date-cardify";
}

.content .blockify .flexify .date-cardify {
    grid-area: date-cardify;
    display: flex;
    justify-content: right;
    height: min-content;
}

.content .blockify .flexify .date-cardify p {
    background-color: white;
    padding: 12px;
    border-radius: 5px;
    color: gray;
    font-size: 0.7rem;
    font-weight: bold;
}

.content .blockify .flexify .author-cardify {
    grid-area: author-cardify;
    background-color: white;
    padding: 12px;
    border-radius: 5px;
}

.content .blockify .flexify .author-cardify .grid {
    display: grid;
    grid-template-columns: 44px 1fr;
    grid-template-rows: 16px 16px;
    grid-gap: 12px;
    grid-template-areas:
        "profile-picture name"
        "profile-picture role";
}

.content .blockify .flexify .author-cardify .grid .profile-picture {
    grid-area: profile-picture;
    filter: brightness(0) saturate(100%) invert(56%) sepia(4%) saturate(13%) hue-rotate(346deg) brightness(96%) contrast(87%);
    cursor: pointer;
}

.content .blockify .flexify .author-cardify .grid .name {
    grid-area: name;
    font-weight: bold;
}

.content .blockify .flexify .author-cardify .grid .tag {
    color: gray;
}

.content .blockify .flexify .role-card .blockify .userify .name {
    grid-area: name;
    margin: 0;
}

.content .blockify .flexify .role-card .blockify .userify .name-thin {
    grid-area: name;
    margin: 0;
    font-weight: lighter;
}

.content .blockify .flexify .role-card .blockify .userify .usertag {
    font-weight: normal;
    color: gray;
    grid-area: usertag;
    margin: 0;
}

.content .blockify .flexify .role-card .blockify .userify .checkbox {
    grid-area: checkbox;
    margin: 0 24px 0 0;
}

.content .blockify .flexify .role-card .blockify .userify input:checked {
    accent-color: #009543;
}

.content .blockify .flexify .role-card .blockify .logify {
    color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 24px 24px;
    grid-template-areas:
        "modelname . action"
        "user . date";
    width: 100%;
    grid-column-gap: 12px;
}

.content .blockify .flexify .role-card .blockify .logify .modelname {
    grid-area: modelname;
}

.content .blockify .flexify .role-card .blockify .logify .contentobject {
    grid-area: contentobject;
}

.content .blockify .flexify .role-card .blockify .logify .action {
    grid-area: action;
    display: flex;
    justify-content: right;
    margin-right: 24px;
}

.content .blockify .flexify .role-card .blockify .logify .action .read {
    background-color: #7c7c7c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
}

.content .blockify .flexify .role-card .blockify .logify .action .create {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
}

.content .blockify .flexify .role-card .blockify .logify .action .update {
    background-color: #ff9100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
}

.content .blockify .flexify .role-card .blockify .logify .action .delete {
    background-color: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
}

.content .blockify .flexify .role-card .blockify .logify .date {
    grid-area: date;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 24px;
    font-size: 0.6rem;
}

.role-card a {
    text-decoration: none;
    display: flex;
    height: 100%;
    padding: 12px;
}

.content .form-card {
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 1px;
    padding: 12px;
}

.content .form-card .title, .task-card .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-weight: bold;
    font-size: 1.5rem;
}

.content .dashboard {
    max-width: 1024px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 172px 172px;
    grid-row-gap: 64px;
    margin-bottom: 12px;
}

.content .dashboard .cell {
    height: 172px;
    display: flex;
    justify-content: center;
}

.content .dashboard .cell .card {
    padding: 12px;
    height: 148px;
    width: 148px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 96px 28px;
    grid-template-areas:
        "icon"
        "title";
    grid-row-gap: 12px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.content .dashboard .cell .card-disabled {
    padding: 12px;
    height: 148px;
    width: 148px;
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 96px 28px;
    grid-template-areas:
        "icon"
        "title";
    grid-row-gap: 12px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.content .dashboard .cell .card:hover {
    transform: scale(1.1);
}

.content .dashboard .cell .card .icon, .content .dashboard .cell .card-disabled .icon {
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .dashboard .cell .card .icon img,
.content .dashboard .cell .card-disabled .icon img {
    height: 100%;
    width: 100%;
}

.content .dashboard .cell .card-disabled .icon img {
    filter: invert(55%) sepia(4%) saturate(184%) hue-rotate(15deg) brightness(90%) contrast(85%);
}

.content .dashboard .cell .card .title,
.content .dashboard .cell .card-disabled .title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.content .dashboard .cell .card-disabled .title {
    color: gray;
}

.content .flexify .web {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px;
    grid-gap: 12px;
}

.content .web .cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .web .cell .button {
    width: 100%;
    background-color: #b6b6b6;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
}

.content .web .cell .button:hover {
    background-color: #888888;
}

@media screen and (max-width: 790px) {
    .content .dashboard {
        max-width: 512px;
        width: 100%;
        grid-gap: 1px;
    }

    .content .blockify .flexify .cardify .permissions .permission-container {
        grid-template-columns: 1fr 1fr 100px;
    }
}

@media screen and (max-width: 584px) {
    .content .dashboard {
        width: 344px;
        grid-template-columns: 1fr 1fr;
    }

    .content .flexify .web {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 96px 0;
    }
}

@media screen and (max-width: 472px) {
    .content .dashboard {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 172px 172px 172px 172px;
    }

    .content .flexify .web {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 96px 0;
    }
}
