{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if officesync.get_logo_url %}<link rel="icon" href="{{ officesync.get_logo_url }}" type="image/png">{% endif %}
        <link rel="stylesheet" href="{% static 'css/global/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/pages/main_home.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/profile.css' %}">
        <title>{{ officesync.app }} - Fahrzeuge erstellen</title>
    </head>
    <body>
        {% include 'components/header/authentication.html' with title=officesync.app %}
        <main>
            {% include 'components/sidebar/sidebar.html' with page="disposition" %}
            {% include 'components/subsidebar/subsidebar_disposition.html' with page="vehicles" %}
            <div class="content">
                <div class="blockify">
                    {% include 'components/profile/profile.html' %}
                    <div class="flexify">
                        <div class="cardify">
                            <div class="title-container">
                                {% if vehicle.pk %}
                                    <h1 class="h1">{{ vehicle.license_plate }}</h1>
                                {% else %}
                                    <h1 class="h1">Fahrzeuge</h1>
                                {% endif %}
                                {% if vehicle.pk %}
                                    <div class="edit-container">
                                        {% if has_delete_vehicle_permission %}
                                            <a class="button delete" href="{% url 'vehicle_delete' vehicle.pk %}">
                                                <img src="{% static 'svgs/delete.svg' %}" alt="edit" />
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="flexify">
                        <div class="cardify">
                            {% if request.user.is_authenticated %}
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="buttons">
                                        {% if vehicle %}
                                            <a href="{% url 'vehicle' vehicle.pk %}"
                                               class="cancel-button cancel-delete-confirm">{% translate "Abbrechen" %}</a>
                                            <button class="submit" type="submit">{% translate "Speichern" %}</button>
                                        {% else %}
                                            <a href="{% url 'vehicles' %}"
                                               class="cancel-button cancel-delete-confirm">{% translate "Abbrechen" %}</a>
                                            <button class="submit" type="submit">{% translate "Hinzufügen" %}</button>
                                        {% endif %}
                                    </div>
                                </form>
                            {% else %}
                                <p class="access-denied">{% translate "Zugriff verweigert" %}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include 'components/footer.html' %}
    </body>
