<div class="title">
    {{ headline }}
</div>
<div class="textsection">
    <h2>1. Datenerfassung auf unsere Webseite</h2>
    <p>Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an
        und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu
        machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.Die
        meisten der von uns verwendeten Cookies sind so genannte “Session-Cookies”. Sie werden nach Ende Ihres Besuchs
        automatisch gelöscht.
    </p>
    <h2>2. Jugendschutz Information</h2>
    <p>2.1. § 176 Abs. 4 Nr. 3 StGB</p>
    <p>Dieser Straftatbestand ist neu in das StGB eingefügt worden und ist besonders für den Schutz von Kindern im
        Internet relevant. Zur Erfüllung des Tatbestandes muss es nämlich zu keinem persönlichen Kontakt zwischen Täter
        und Opfer gekommen sein. Es genügt, wenn der Täter durch Schriften (hierzu gehören gem. § 11 Abs. 3 StGB auch
        Datenspeicher) wie etwa eine E-Mail oder Chatverkehr mit dem Ziel eines sexuellen Kontaktes auf ein Kind
        eingewirkt hat. Der Täter muss also durch seine Handlung nur darauf hinwirken zu wollen, einen solchen Kontakt
        zu erzielen. Tatsächlich dazu kommen muss es nicht. Bereits in diesem Stadium macht sich der Täter also strafbar
        und wird mit einer Freiheitsstrafe von mindestens 3 Monaten bestraft. Die Verhängung einer Geldstrafe ist NICHT
        möglich.</p>
    <p>2.2 § 176 Abs. 4 Nr. 4 StGB</p>
    <p>[...] wer auf ein Kind durch Vorzeigen pornografischer Abbildungen oder Darstellungen, durch Abspielen von
        Tonträgern pornographischen Inhalts oder durch entsprechendes Reden einwirkt."
        Auch zur Erfüllung dieses Straftatbestandes muss es zu keinem körperlichen Kontakt zwischen Täter und Opfer
        gekommen sein. Er kann z.B. schon durch das Versenden pornografischer Bilder an Minderjährige erfüllt sein. Auch
        hier droht eine Strafe von mindestens 3 Monaten Freiheitsentzug.</p>
    <p>2.3. Ruhen der Verjährung</p>
    <p>Unterstützt werden die vorgenannten Vorschriften durch § 78b Abs. 1 Nr. 1 StGB, nach dem die Verjährung einer Tat
        nach § 176 StGB erst bis zur Vollendung des 18. Lebensjahres des Opfers ruht. Dies bedeutet, dass die
        Verjährungszeit von 5 Jahren erst dann zu laufen beginnt, wenn das Opfer volljährig geworden ist.</p>
    <p>2.4. Verbreitung pornografischer Schriften</p>
    <p>Nach § 184 StGB macht sich strafbar, wer pornografische Schriften Personen unter 18 Jahren anbietet, überlässt
        oder zugänglich macht. Hierbei ist zu beachten, dass es sich bei solcher Pornographie nicht um Bilder oder Filme
        handeln muss. Auch Texte können unter diesen Begriff fallen. Versendet also jemand obszöne Texte per E-Mail oder
        auch im Chat, so kann er sich hierdurch gem. § 184 StGB strafbar machen, wofür mit einer Freiheitsstrafe von bis
        zu einem Jahr bestraft werden kann.</p>
    <p>Das Bemühen des Gesetzgebers, hart gegen den Missbrauch von Kindern durchzugreifen, ist also ersichtlich. Es
        bleibt daher zu hoffen, dass dies dazu führen wird, mögliche Täter auch im Internet abzuschrecken.</p>
    <p>Mädchen und Jungen können bei http://www.save-me-online.de Hilfe bekommen und sich beraten lassen. Diese Seite
        bietet professionelle und kostenlose Beratung an, bei der du anonym bleiben kannst.</p>
</div>