<div class="title">
    {{ headline }}
</div>
<div class="textsection">
    <h2>1. Akzeptieren der Nutzungsbedingungen</h2>
    <p>Durch die Nutzung der Webseite akzeptieren Sie diese Nutzungsbedingungen in vollem Umfang. Wenn Sie mit den
        Bedingungen nicht einverstanden sind, dürfen Sie die Webseite nicht nutzen.</p>
</div>
<div class="textsection">
    <h2>2. Nutzungsberechtigung</h2>
    <p>Die Nutzung der Webseite ist Personen vorbehalten, die das gesetzliche Mindestalter erreicht haben oder
        anderweitig rechtlich befugt sind, Verträge abzuschliessen. Mit der Nutzung der Webseite bestätigen Sie, dass
        Sie
        die erforderliche Berechtigung besitzen.</p>
</div>
<div class="textsection">
    <h2>3. Geistiges Eigentum</h2>
    <p>Die Webseite und alle darin enthaltenen Inhalte, einschliesslich Texte, Bilder, Grafiken, Logos, Designs,
        Software
        und Audio- oder Videodateien, sind durch Urheberrechte, Markenrechte und andere geistige Eigentumsrechte
        geschützt. Das geistige Eigentum verbleibt bei den jeweiligen Rechteinhabern. Jegliche Nutzung,
        Vervielfältigung, Verbreitung oder Veränderung der Inhalte ist ohne vorherige schriftliche Genehmigung der
        Rechteinhaber untersagt.</p>
    <h2>4. Nutzung der Webseite</h2>
    <p>4.1. Sie dürfen die Webseite nur für rechtmässige Zwecke nutzen und sich dabei an alle anwendbaren Gesetze und
        Vorschriften halten.
    </p>
    <p>4.2. Sie stimmen zu, die Webseite nicht für folgende Zwecke zu nutzen:</p>
    <p class="tab1">a) Die Verbreitung von illegalen, beleidigenden, diffamierenden, bedrohlichen, belästigenden oder
        diskriminierenden Inhalten.</p>
    <p class="tab1">b) Die Verletzung von geistigen Eigentumsrechten Dritter.</p>
    <p class="tab1">c) Die Verbreitung von Viren, Schadsoftware oder anderer schädlicher Inhalte.</p>
    <p class="tab1">d) Das Sammeln oder Speichern von personenbezogenen Daten anderer Nutzer ohne deren Zustimmung.</p>
    <p class="tab1">e) Die Störung oder Unterbrechung des ordnungsgemässen Betriebs der Webseite.</p>
    <p>4.3. Sie sind für sämtliche Aktivitäten, die über Ihr Benutzerkonto ausgeführt werden, verantwortlich. Sie müssen
        sicherstellen, dass Ihr Benutzerkonto und Ihre Zugangsdaten sicher aufbewahrt werden und unbefugte Zugriffe
        vermieden werden.</p>
</div>
<div class="textsection">
    <h2>5. Haftungsausschluss</h2>
    <p>5.1. Die Webseite wird "wie besehen" und ohne jegliche Gewährleistung zur Verfügung gestellt. Es wird keine
        Gewähr
        für die Richtigkeit, Vollständigkeit oder Zuverlässigkeit der Inhalte gegeben.</p>
    <p>5.2. In keinem Fall haften wir für direkte, indirekte, zufällige, besondere oder Folgeschäden, die sich aus der
        Nutzung oder Unmöglichkeit der Nutzung der Webseite ergeben, auch wenn wir über die Möglichkeit solcher Schäden
        informiert wurden.</p>
</div>
<div class="textsection">
    <h2>6. Änderungen der Nutzungsbedingungen</h2>
    <p>Wir behalten uns das Recht vor, diese Nutzungsbedingungen jederzeit und ohne Vorankündigung zu ändern. Es liegt
        in Ihrer Verantwortung, regelmässig die aktuellen Nutzungsbedingungen einzusehen. Die fortgesetzte Nutzung der
        Webseite nach Änderungen gilt als Zustimmung zu den geänderten Bedingungen.</p>
</div>
<div class="textsection">
    <h2>7. Salvatorische Klausel</h2>
    <p>Sollten einzelne Bestimmungen dieser Nutzungsbedingungen ganz oder teilweise unwirksam oder undurchführbar sein
        oder werden, bleibt die Wirksamkeit der übrigen Bestimmungen hiervon unberührt. Anstelle der unwirksamen oder
        undurchführbaren Bestimmungen tritt eine Regelung, die dem wirtschaftlichen Zweck der unwirksamen oder
        undurchführbaren Bestimmung am nächsten kommt.
    </p>
</div>
<div class="textsection">
    <h2>8. Anwendbares Recht und Gerichtsstand</h2>
    <p>Diese Nutzungsbedingungen unterliegen dem schweizerischem Recht. Ausschliesslicher Gerichtsstand für alle
        Streitigkeiten im Zusammenhang mit der Nutzung der Webseite ist, soweit gesetzlich zulässig, der Sitz des
        Betreibers der Webseite.</p>
</div>