{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if officesync.get_logo_url %}<link rel="icon" href="{{ officesync.get_logo_url }}" type="image/png">{% endif %}
        <link rel="stylesheet" href="{% static 'css/global/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/pages/main_home.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/profile.css' %}">
        <title>{{ officesync.app }} - {% translate "Benutzerliste" %}</title>
    </head>
    <body>
        {% include 'components/header/authentication.html' with title=officesync.app %}
        <main>
            {% include 'components/sidebar/sidebar.html' with page="administration" %}
            {% include 'components/subsidebar/subsidebar_administration.html' with page="users" %}
            <div class="content">
                <div class="blockify">
                    {% include 'components/profile/profile.html' %}
                    <div class="flexify">
                        <div class="blockify">
                            <div class="flexify">
                                <div class="cardify">
                                    <div class="title-container">
                                        <h1 class="h1">{% translate "Benutzerliste" %}</h1>
                                    </div>
                                </div>
                            </div>
                            <form style="display: flex; align-items: center;" method="get" action="">
                                <input style="height: 24px;
                                              padding: 12px"
                                       type="text"
                                       name="search"
                                       placeholder="{% translate "Benutzer suchen..." %}">
                                <select style="height: 48px; margin: 12px;" name="role">
                                    <option value="">{% translate "Alle Rollen" %}</option>
                                    {% for role in roles %}<option value="{{ role.id }}">{{ role.name }}</option>{% endfor %}
                                </select>
                                {% if search_query or role_query %}
                                    <button type ="submit">
                                        {% translate "Zurücksetzen" %}
                                    </button =>
                                {% else %}
                                    <button type="submit">{% translate "Suchen" %}</button>
                                {% endif %}
                            </form>
                            {% for user in users %}
                                <div class="role-card">
                                    <a class="blockify" href="">
                                        <div class="userify">
                                            <div class="flexify img">
                                                <img src="/static/svgs/profile_filled.svg" alt="profile" />
                                            </div>
                                            <p class="name">
                                                {% if user.advanced.role %}
                                                    <span style="color: {{ user.advanced.role.color }};">{{ user.advanced.role }}</span> |
                                                {% else %}
                                                    <span style="color: gray;">?</span> |
                                                {% endif %}
                                                {{ user.first_name }} {{ user.last_name }}
                                            </p>
                                            <p class="usertag">@{{ user.username }}</p>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include 'components/footer.html' %}
    </body>
    s
