{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if officesync.get_logo_url %}<link rel="icon" href="{{ officesync.get_logo_url }}" type="image/png">{% endif %}
        <link rel="stylesheet" href="{% static 'css/global/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/pages/main_home.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/profile.css' %}">
        <title>{{ officesync.app }} - {% translate "Profil" %}</title>
    </head>
    <body>
        {% include 'components/header/authentication.html' with title=officesync.app %}
        <main>
            {% include 'components/sidebar/sidebar.html' with page="personal" %}
            {% include 'components/subsidebar/subsidebar_personal.html' with page="personal" %}
            <div class="content">
                <div class="blockify">
                    {% include 'components/profile/profile.html' %}
                    <div class="flexify">
                        <div class="blockify">
                            <div class="flexify">
                                <div class="cardify">
                                    <div class="title-container">
                                        <h1 class="h1">{{ request.user.first_name }} {{ request.user.last_name }}</h1>
                                        <div class="edit-container">
                                            {% if has_update_vehicle_permission %}
                                                <a class="button edit" href="{% url 'vehicle_update' vehicle.pk %}">
                                                    <img src="{% static 'svgs/modify.svg' %}" alt="edit" />
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flexify">
                                <div class="tabs-profile">
                                    <a href="{% url 'profile' %}" class="public">{% translate 'Öffentlich' %}</a>
                                    <a href="{% url 'personal' %}" class="personal">{% translate 'Personalakte' %}</a>
                                    <a href="{% url 'work' %}" class="work current">{% translate 'Mitarbeiterakte' %}
                                        {% if unconfirmed_salaries_count %}
                                            <div class="count">
                                                <p>{{ unconfirmed_salaries_count }}</p>
                                            </div>
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            {% for performance in request.user.performances.all %}
                                <div class="flexify">
                                    <div class="cardify">
                                        <div class="permissions">
                                            <h2>{% translate 'Leistungsbericht' %}</h2>
                                            {% if performance.date %}
                                                <p class="datafy">{% translate 'Datum' %}: {{ performance.format_date }}</p>
                                            {% else %}
                                                <p class="datafy">{% translate 'Datum' %}: {% translate 'Unbekannt' %}</p>
                                            {% endif %}
                                            {% if performance.evaluator %}
                                                <p class="datafy">
                                                    {% translate 'Bewerter' %}: {{ performance.evaluator.first_name }} {{ performance.evaluator.last_name }}
                                                </p>
                                            {% else %}
                                                <p class="datafy">{% translate 'Bewerter' %}: {% translate 'Unbekannt' %}</p>
                                            {% endif %}
                                            {% if performance.grade %}
                                                <p class="datafy">{% translate 'Note' %}: {{ performance.grade }}</p>
                                            {% else %}
                                                <p class="datafy">{% translate 'Note' %}: {% translate 'Unbekannt' %}</p>
                                            {% endif %}
                                            {% if performance.appearance %}
                                                <p class="datafy">{% translate 'Erscheinungsbild' %}: {{ performance.appearance }}</p>
                                            {% else %}
                                                <p class="datafy">{% translate 'Erscheinungsbild' %}: {% translate 'Unbekannt' %}</p>
                                            {% endif %}
                                            {% if performance.teamwork %}
                                                <p class="datafy">{% translate 'Teamarbeit' %}: {{ performance.teamwork }}</p>
                                            {% else %}
                                                <p class="datafy">{% translate 'Teamarbeit' %}: {% translate 'Unbekannt' %}</p>
                                            {% endif %}
                                            {% if performance.helpfulness %}
                                                <p class="datafy">{% translate 'Hilsbereitschaft' %}: {{ performance.helpfulness }}</p>
                                            {% else %}
                                                <p class="datafy">{% translate 'Hilsbereitschaft' %}: {% translate 'Unbekannt' %}</p>
                                            {% endif %}
                                            {% if performance.politeness %}
                                                <p class="datafy">{% translate 'Höflichkeit' %}: {{ performance.politeness }}</p>
                                            {% else %}
                                                <p class="datafy">{% translate 'Höflichkeit' %}: {% translate 'Unbekannt' %}</p>
                                            {% endif %}
                                            {% if performance.communication %}
                                                <p class="datafy">{% translate 'Kommunikation' %}: {{ performance.communication }}</p>
                                            {% else %}
                                                <p class="datafy">{% translate 'Kommunikation' %}: {% translate 'Unbekannt' %}</p>
                                            {% endif %}
                                            {% if performance.work_quality %}
                                                <p class="datafy">{% translate 'Arbeitsqualität' %}: {{ performance.work_quality }}</p>
                                            {% else %}
                                                <p class="datafy">{% translate 'Arbeitsqualität' %}: {% translate 'Unbekannt' %}</p>
                                            {% endif %}
                                            {% if performance.work_organisation %}
                                                <p class="datafy">{% translate 'Arbeitsorganisation' %}: {{ performance.work_organisation }}</p>
                                            {% else %}
                                                <p class="datafy">{% translate 'Arbeitsorganisation' %}: {% translate 'Unbekannt' %}</p>
                                            {% endif %}
                                            {% if performance.knowledge %}
                                                <p class="datafy">{% translate 'Fachkenntnisse' %}: {{ performance.knowledge }}</p>
                                            {% else %}
                                                <p class="datafy">{% translate 'Fachkenntnisse' %}: {% translate 'Unbekannt' %}</p>
                                            {% endif %}
                                            {% if performance.goals %}
                                                <p class="datafy">{% translate 'Ziele' %}: {{ performance.goals }}</p>
                                            {% else %}
                                                <p class="datafy">{% translate 'Ziele' %}: {% translate 'Unbekannt' %}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="flexify">
                                    <div class="access-denied">
                                        <img src="{% static 'svgs/undraw_no_data.svg' %}" alt="access-denide" />
                                    </div>
                                </div>
                                <div class="flexify">
                                    <div class="">
                                        <p class="access-denied">{% translate "Keine Daten vorhanden" %}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
