{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if officesync.get_logo_url %}<link rel="icon" href="{{ officesync.get_logo_url }}" type="image/png">{% endif %}
        <link rel="stylesheet" href="{% static 'css/global/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/pages/main_home.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/profile.css' %}">
        <title>{{ officesync.app }} - Startseite</title>
    </head>
    <body>
        {% include 'components/header/authentication.html' with title=officesync.app %}
        <main>
            {% include 'components/sidebar/sidebar.html' with page="home" %}
            <div class="content">
                <div class="blockify">
                    {% include 'components/profile/profile.html' %}
                    <div class="flexify">
                        <div class="dashboard">
                            <div class="cell">
                                <a href="{% url 'system' %}" class="card">
                                    <div class="icon">
                                        <img src="{% static 'svgs/shield-crown.svg' %}" />
                                    </div>
                                    <p class="title">{% translate "Administration" %}</p>
                                </a>
                            </div>
                            <div class="cell">
                                <a href="{% url 'profile' %}" class="card">
                                    <div class="icon">
                                        <img src="{% static 'svgs/sticker-emoji.svg' %}" />
                                    </div>
                                    <p class="title">{% translate "Persönlich" %}</p>
                                </a>
                            </div>
                            <div class="cell">
                                <a href="{% url 'announcements' %}" class="card">
                                    <div class="icon">
                                        <img src="{% static 'svgs/email.svg' %}" />
                                    </div>
                                    <p class="title">{% translate "Kommunikation" %}</p>
                                </a>
                            </div>
                            <div class="cell">
                                <a href="{% url 'maintenance' %}" class="card">
                                    <div class="icon">
                                        <img src="{% static 'svgs/ruler-square-compass.svg' %}" />
                                    </div>
                                    <p class="title">{% translate "Verwaltung" %}</p>
                                </a>
                            </div>
                            <div class="cell">
                                <a href="{% url 'tours' %}" class="card">
                                    <div class="icon">
                                        <img src="{% static 'svgs/map-marker-path.svg' %}" />
                                    </div>
                                    <p class="title">{% translate "Disposition" %}</p>
                                </a>
                            </div>
                            <div class="cell">
                                <a href="{% url 'maintenance' %}" class="card">
                                    <div class="icon">
                                        <img src="{% static 'svgs/cloud_filled.svg' %}" />
                                    </div>
                                    <p class="title">{% translate "Cloud" %}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include 'components/footer.html' %}
    </body>
