{% load static %}
<div class="profile">
    <div class="card">
        {% if request.user.is_authenticated %}
            <div class="grid">
                {% if request.user.advanced.pp == "bird" %}
                    <a href="{% url 'account' request.user.pk %}" class="profile-picture">
                        <img src="{% static 'svgs/bird.svg' %}" alt="bird" />
                    </a>
                {% elif request.user.advanced.pp == "butterfly" %}
                    <a href="{% url 'account' request.user.pk %}" class="profile-picture">
                        <img src="{% static 'svgs/butterfly.svg' %}" alt="butterfly" />
                    </a>
                {% elif request.user.advanced.pp == "cat" %}
                    <a href="{% url 'account' request.user.pk %}" class="profile-picture">
                        <img src="{% static 'svgs/cat.svg' %}" alt="cat" />
                    </a>
                {% elif request.user.advanced.pp == "dog" %}
                    <a href="{% url 'account' request.user.pk %}" class="profile-picture">
                        <img src="{% static 'svgs/dog.svg' %}" alt="dog" />
                    </a>
                {% elif request.user.advanced.pp == "duck" %}
                    <a href="{% url 'account' request.user.pk %}" class="profile-picture">
                        <img src="{% static 'svgs/duck.svg' %}" alt="duck" />
                    </a>
                {% elif request.user.advanced.pp == "jellyfish" %}
                    <a href="{% url 'account' request.user.pk %}" class="profile-picture">
                        <img src="{% static 'svgs/jellyfish.svg' %}" alt="jellyfish" />
                    </a>
                {% elif request.user.advanced.pp == "owl" %}
                    <a href="{% url 'account' request.user.pk %}" class="profile-picture">
                        <img src="{% static 'svgs/owl.svg' %}" alt="owl" />
                    </a>
                {% elif request.user.advanced.pp == "panda" %}
                    <a href="{% url 'account' request.user.pk %}" class="profile-picture">
                        <img src="{% static 'svgs/panda.svg' %}" alt="panda" />
                    </a>
                {% elif request.user.advanced.pp == "penguin" %}
                    <a href="{% url 'account' request.user.pk %}" class="profile-picture">
                        <img src="{% static 'svgs/penguin.svg' %}" alt="penguin" />
                    </a>
                {% elif request.user.advanced.pp == "pig" %}
                    <a href="{% url 'account' request.user.pk %}" class="profile-picture">
                        <img src="{% static 'svgs/pig.svg' %}" alt="pig" />
                    </a>
                {% elif request.user.advanced.pp == "rabbit" %}
                    <a href="{% url 'account' request.user.pk %}" class="profile-picture">
                        <img src="{% static 'svgs/rabbit.svg' %}" alt="rabbit" />
                    </a>
                {% elif request.user.advanced.pp == "sheep" %}
                    <a href="{% url 'account' request.user.pk %}" class="profile-picture">
                        <img src="{% static 'svgs/sheep.svg' %}" alt="sheep" />
                    </a>
                {% elif request.user.advanced.pp == "snail" %}
                    <a href="{% url 'account' request.user.pk %}" class="profile-picture">
                        <img src="{% static 'svgs/snail.svg' %}" alt="snail" />
                    </a>
                {% elif request.user.advanced.pp == "snake" %}
                    <a href="{% url 'account' request.user.pk %}" class="profile-picture">
                        <img src="{% static 'svgs/snake.svg' %}" alt="snake" />
                    </a>
                {% elif request.user.advanced.pp == "turkey" %}
                    <a href="{% url 'account' request.user.pk %}" class="profile-picture">
                        <img src="{% static 'svgs/turkey.svg' %}" alt="turkey" />
                    </a>
                {% elif request.user.advanced.pp == "turtle" %}
                    <a href="{% url 'account' request.user.pk %}" class="profile-picture">
                        <img src="{% static 'svgs/turtle.svg' %}" alt="turtle" />
                    </a>
                {% else %}
                    <a href="{% url 'account' request.user.pk %}"
                       class="profile-picture no-profile-picture">
                        <img src="{% static 'svgs/profile_filled.svg' %}" alt="profile" />
                    </a>
                {% endif %}
                <div class="name">
                    <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
                </div>
                <div class="role">
                    {% if request.user.advanced.role %}
                        <p style="color: {{ request.user.advanced.role.color }}">{{ request.user.advanced.role }}</p>
                    {% else %}
                        <p class="unverified">Keine Rolle</p>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <a href="{% url 'login' %}" class="login">
                <p>Anmelden</p>
            </a>
        {% endif %}
    </div>
</div>
