{% load static %}
<div class="profile">
    <div class="card">
        {% if request.user.is_authenticated %}
            <div class="grid">
                <a href="" class="profile-picture">
                    <img src="{% static 'svgs/profile_filled.svg' %}" alt="profile"/>
                </a>
                <div class="name">
                    <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
                </div>
                <div class="role">
                    {% if request.user.advanced.role %}
                        <p style="color: {{ request.user.advanced.role.color }}">{{ request.user.advanced.role }}</p>
                    {% else %}
                        <p class="unverified">Keine Rolle</p>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <a href="{% url 'login' %}" class="login">
                <p>Anmelden</p>
            </a>
        {% endif %}
    </div>
</div>