{% load static %}
{% load i18n %}
<div class="sidebar">
    <div class="flexify">
        <div class="grid">
            {% if page == 'account' %}
                <a href="" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/account.svg' %}" alt="account" />
                        </div>
                        <div class="text">
                            <p>{% translate 'Konto' %}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/account.svg' %}" alt="account" />
                        </div>
                        <div class="text">
                            <p>{% translate 'Konto' %}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if page == 'interface' %}
                <a href="{% url 'maintenance' %}" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/application.svg' %}" alt="account" />
                        </div>
                        <div class="text">
                            <p>{% translate 'Oberfläche' %}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'maintenance' %}" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/application.svg' %}" alt="account" />
                        </div>
                        <div class="text">
                            <p>{% translate 'Oberfläche' %}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if page == 'linked' %}
                <a href="{% url 'maintenance' %}" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/linked.svg' %}" alt="linked" />
                        </div>
                        <div class="text">
                            <p>{% translate 'Verknüpfungen' %}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'maintenance' %}" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/linked.svg' %}" alt="linked" />
                        </div>
                        <div class="text">
                            <p>{% translate 'Verknüpfungen' %}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
        </div>
    </div>
</div>
